{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content  %}
<section class="site-map">
    <p> <a href="{{ url_for('welcome.index') }}">Главная страница</a><span>&#9830;</span><a>Статьи</a></p>
</section>
<h1 class="news-h1"> Интересное про маникюр </h1>
<div class="news-preview-container">
    {% for news in pages.items %}
    <section class="news-preview">
        <ul>
            <li>
                <h2><a href="{{ url_for('news.single_news', news_id=news.id) }}">{{ news.title }}</a></h2>
            </li>
            <li> <a href="{{ url_for('news.single_news', news_id=news.id) }}"> <img src="{{news.main_picture_url}}" style="min-width: 70%" /> </a></li>
            <li>{{news.published.strftime('%d/%m/%Y') }}</li>
            <li>Источник: <a href="{{ news.url }}"> {{ news.source }}</a> Комментарии: {{ news.comments_count() }}</li>
        </ul>
    </section>
    {% endfor %}
</div>
{% include "pagination.html"%}

{% endblock %}
