{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
{{ title }}
{% endblock%}
{% block app_content  %}
<section class="site-map">
    <p> <a href="{{ url_for('welcome.index') }}">{{_('Главная страница')}}</a><span> &#9830;</span><a>{{_('Выбор способа регистрации')}}</a></p>
</section>
<div class="container-registration">
    <h2 class="visually-hidden">{{_('Выбор способа регистрации')}}</h2>
    <p>{{ _('Как вы хотите зарегистрироваться? ') }}</p>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <ul>
            <li>{{ form.submit_register_by_email }}</li>
            <li>{{ form.submit_register_by_phone }}</li>
        </ul>
    </form>
</div>




{% endblock %}
