{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content  %}

<table class="table table-hover">
    <tr>
        <td><img src="{{ user.avatar(128) }}"></td>
        <td>
            <h2> {{ _(' Пользователь') }}: {{ user.username }}</h2>
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            {% if user.last_seen %}<p> {{ _('Последний визит') }}: {{ moment(user.last_seen).format('LLL') }}</p>{% endif %}
            <p>{{ _('%(count)d подписки', count=user.followers.count()) }}, {{ _('%(count)d подписан', count=user.followed.count()) }}</p>

            {% if user == current_user %}
            <p><a href="{{ url_for('main.edit_profile') }}"> {{ _('Редактировать свой профиль') }}</a></p>
            {% elif not current_user.is_following(user) %}
            <p><a href="{{ url_for('main.follow', username=user.username) }}"> {{ _('Подписаться') }}</a></p>
            {% else %}
            <p><a href="{{ url_for('main.unfollow', username=user.username) }}"> {{ _('Отписаться') }}</a></p>
            {% endif %}
        </td>
    </tr>
</table>
<hr>
<div class="modal-body row" align="center">
    <div class="col-md-10 news-content" align="center">
        {% for post in pages.items %}
        {% include '_post.html' %}
        {% endfor %}


    </div>

</div>

{% endblock %}