{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content  %}
<h1 class="visually-hidden">Мастер ногтевого сервиса Nail-Master-Krd. Работы и отзывы.</h1>

<section class="site-map">
    <p> <a href="{{ url_for('welcome.index') }}">Главная страница</a><span>&#9830;</span><a>Портфолио</a></p>
</section>
{% include "pagination.html"%}
<section class="content-section">
    {% for item in comment_forms_list %}
    <ul class="content-picture">
        <li><h2>Работа от {{ item['work'].published.strftime('%d/%m/%Y') }}</h2></li>
        <li><div class="content-picture-container"><img src="{{ item['work'].url }}" /></div></li>
        <li><span class="content-like">Лайков в Instagram: {{ item['work'].likes }} | Комментарии: {{ item['work'].comments_count() }}</span></li>

        {% if current_user.is_authenticated %}
        <li>
            <section class="comment-form-section">
                <form class="comment-form" action="{{ url_for('my_work.add_comment') }}" method="post">
                    {{ item['comment_form'].hidden_tag() }}
                    <ul>
                        <li>
                            <label class="visually-hidden">{{ item['comment_form'].comment_text.label }}</label>
                        </li>
                        <li>{{ item['comment_form'].comment_text() }}</li>
                        <li>  {{ item['comment_form'].submit() }}</li>
                    </ul>
                </form>
            </section>
        </li>
        {% else %}
        <li>
            <p>
                <!--здесь request.full_path -это часть которая идет за http://127.0.0.1:5000/-->
                <a href="{{ url_for('user.login', next=request.full_path) }}">Авторизируйтесь!</a> Оставлять комментарии могут только авторизированные пользователи.
            </p>
        </li>
        {% endif %}

        <li class="content-picture-comment">
            <!--R11 вставляем коментарии к работе-->
            {% if item['work'].comments %}
            <h5>Коментарии:</h5>
            {% for comment in item['work'].comments %}
            {% if comment.show == 1 %}
            <div class="card">
                <div class="card-body comment-field">
                    <small class="card-text">{{comment.text}}</small>
                    <p class="card-text">
                        <small>
                            Опубликовано: {{ comment.published.strftime('%d.%m.%Y') }} | Автор
                            {% if comment.source != "this" %}
                            от {{comment.source}}
                            {% endif %}
                            : {{ comment.owner }}
                        </small>
                    </p>
                    {% if current_user.username == comment.owner or current_user.is_admin %}
                    <p>
                        <a href="{{ url_for('my_work.delete_comment', comment_id = comment.id) }}"> {{ _('Удалить') }}</a>
                        <a href="{{ url_for('my_work.change_comment', comment_id = comment.id) }}"> {{ _('Изменить') }}</a>

                    </p>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            {% endfor %}

            {% endif %}
        </li>
    </ul>
    {% endfor %}

</section>

<script type="text/javascript">
    window.onload = function()
    {
        window.scrollTo( 0, 350 );
    }
</script>



{% endblock %}
