.env
.vs
env
__pycache__
*.db
messages.pot
logs
asinco_await.py
asinco_await2.py
corutines.py
dela.py
prostonail.com.html
pyInstagram
*.log
*.log.*
#install.txt
celerybeat.pid
celerybeat-schedule
nail_copy.sql