<p>Уважаемый пользователь {{ user.username }}!</p>
<p />
<p>Здесь ссылка для подтверждения данного адреса.<p>
<p />
<p>Ваш логин: {{ user.username }} </p>
<p />
<p />
<p>
    Это письмо было направлено по Вашему запросу о подтверждении данного адреса с сайта NailMasterKrd.
    Чтобы подтвердить пройдите по ссылке 
    <a href="{{ url_for('main.confirm_adding_email', token=token, _external=True) }}">
        кликните по данной ссылке
    </a>, после чего Ваша почта будет подтверждена.

</p>
<p />

<p>Кроме того, вы можете вставить следующую ссылку в адресную строку браузера для подтверждения:</p>
<p>{{ url_for('main.confirm_adding_email', token=token, _external=True) }}</p>
<p>Если вы получили данное письмо по ошибке, просто проигнорируйте это сообщение.</p>

<p />
<p>Ссылка будет действительна в течении 10 минут.
</p>
<p>
    Если вы получили данное письмо по ошибке, просто проигнорируйте это сообщение.
</p>
<p>С Уважением,</p>
<p>Команда NailMasterKrd</p>