{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content  %}
    <section class="site-map">
        <p>
            <a href="{{ url_for('welcome.index') }}">{{_('Главная страница')}}</a>
            <span> &#9830;</span><a href="{{ url_for('main.user', username=current_user.username)}}">{{_('Профиль пользователя')}}</a>
            <span> &#9830;</span><a href="{{ url_for('main.edit_profile')}}">{{_('Профиль пользователя редактор')}}</a>
            <span> &#9830;</span><a>{{_('Смена email пользователя')}}</a>
        </p>
    </section>
<div class=" container-registration">
<h2 class="visually-hidden"> {{ _('Смена email пользователя') }} {{current_user.username}}</h2>
<p>{{_('Введите новый email')}}</p>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <ul>
        <li class="visually-hidden">
            <div class="form-group">
                {{form.username}}
                {% for error in form.username.errors %}
                <span style="color: tomato">{{ error }}</span>
                {% endfor %}
            </div>
        </li>
        <li>
            <div class="form-group">
                {{form.email}}
                {% for error in form.email.errors %}
                <span style="color: tomato">{{ error }}</span>
                {% endfor %}
            </div>
        </li>
        <li>{{form.confirm_registration}}</li>
        <li>{{form.cancel_registration}}</li>
    </ul>
</form>
</div>

{% endblock %}


