{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content  %}
<section class="site-map">
    <p>
        <a href="{{ url_for('welcome.index') }}">{{_('Главная страница')}}</a>
        <span> &#9830;</span><a href="{{ url_for('main.user', username=current_user.username)}}">{{_('Профиль пользователя')}}</a>
        <span> &#9830;</span><a href="{{ url_for('main.edit_profile')}}">{{_('Профиль пользователя редактор')}}</a>
        <span> &#9830;</span><a>{{_('Смена пароля пользователя')}}</a>
    </p>
</section>
<div class=" container-registration">
    <h2 class="visually-hidden"> {{ _('Смена пароля пользователя') }} {{current_user.username}}</h2>
    <p>{{_('Придумайте пароль')}}</p>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {% for error in form.errors %}
        <span style="color: tomato">{{ error }}</span>
        {% endfor %}
        <ul>
            <li>
                <div class="form-group">
                    {{form.old_password.label}}
                    {{form.old_password}}
                    {% for error in form.old_password.errors %}
                    <span style="color: tomato">{{ error }}</span>
                    {% endfor %}
                </div>
            </li>
            <li>
                <div class="form-group">
                    {{form.password.label}}
                    {{form.password}}
                    {% for error in form.password.errors %}
                    <span style="color: tomato">{{ error }}</span>
                    {% endfor %}
                </div>
            </li>
            <li>
                <div class="form-group">
                    {{form.password2.label}}
                    {{form.password2}}
                    {% for error in form.password2.errors %}
                    <span style="color: tomato">{{ error }}</span>
                    {% endfor %}
                </div>
            </li>
            <li>
                {{form.confirm_registration}}
            </li>
        </ul>
    </form>
</div>

{% endblock %}


