{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content  %}
<h3> {{ _('Редактор профиля') }}</h3>
<div class="row">
    <div class="container">
        <form action="" method="post">
                <div class="form-group">
                    {{ form.username.label }}
                    {{ form.username }}
                    {% for error in form.username.errors %}
                    <span style="color: tomato">{{ error }}</span>
                    {% endfor %}
                    <br/>
                    {{ form.change_password_button }}
                </div>
            
            {{ form.hidden_tag() }}

            <hr/>

            <div class="form-group">
                {{ form.about_me.label }}
                {{ form.about_me }}
                {% for error in form.about_me.errors %}
                <span style="color: tomato">{{ error }}</span>
                {% endfor %}
            </div>
            <hr />
            <h6>{{ _('Зарегистрированные номера телефонов') }}</h6>
            {%for phone in list_phones_user %}
            <p>
                {{ phone.number }} | {% if phone.phone_checked %} {{_('Подтвержден')}} {% else %} {{_('Не подтвержден и будет удален в')}} {{phone.expire_date_hash.strftime("%H:%M %d/%m/%Y")}} {% endif %}
            </p>
            {% endfor %}
            <br />
            {{ form.phone_button }}
             <hr />
            <h6>{{ _('Зарегистрированная электронная почта') }}</h6>
            {% if e_mail %}
            <p>
                {{ e_mail }}
                {{ form.email_change_button }}
            </p>
            {% else %}
            {{_('Нет электронной почты')}}
            {{ form.email_button }}
            {% endif %}
            <hr/>
            {{ form.submit }}
        </form>

    </div>


</div>

{% endblock %}
