{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content  %}
<section class="site-map">
    <p> <a href="{{ url_for('welcome.index') }}">{{_('Главная страница')}}</a><span> &#9830;</span><a href="{{ url_for('admin_my.admin_index') }}">{{_('Администрация')}}</a><span> &#9830;</span><a>{{_('Запись клиентов')}}</a></p>
</section>
<div class="schedule-master-details-container">
    <h1 class="visually-hidden">Страница записи клиентов</h1>


    <form action="" method="post">
        <h2 class="visually-hidden">Выбор периода</h2>
        {{ form.hidden_tag() }}

        <ul class="schedule-container-item-master">
            <li>
                <span class="visually-hidden">{{ form.date_field.label}} </span>
                <div class="js-reserve-time-button">{{ form.date_field}}</div>
                {{ form.submit }}
            </li>
        </ul>

    </form>
    <ul class="schedule-container-days-master">
        <h2 class="visually-hidden">Выбранные даты</h2>

        {%if list_time_to_show %}
        {% for item in list_time_to_show %}
        <h3>{{ item['date'].day_date.strftime('%d/%m/%Y')}} {{item['date'].day_name}}</h3>
        <li>

            <ul class="schedule-container-days-time">
                {% for item_list in item['list_work_time']%}

                <li class="schedule-container-days-content">
                    <span id ="time_{{item_list['time'].id}}" class="{%if item_list['empty'] == 'free' %}schedule-container-days-free{% elif item_list['empty'] == 'non_free' %}schedule-container-days-non-free{%else%}schedule-container-days-some-free{%endif%}">{{item_list['time'].begin_time_of_day.hour}}:00</span>

                    {%if item_list['empty'] == 'free' %}<span id ="kind_{{item_list['time'].id}}" class="schedule-container-days-free">Свободно</span>{% elif item_list['empty'] == 'non_free' %}<span id ="kind_{{item_list['time'].id}}" class="schedule-container-days-non-free">Занято</span>{%else%}<span id ="kind_{{item_list['time'].id}}" class="schedule-container-days-some-free">Неполное время</span>{%endif%}
                    {%if current_user.is_admin %}
                    <span>{{_('Клиент:')}} {{item_list['time'].name_of_client}}</span>
                    <span>{{_('Цена:')}} {{item_list['time'].cost}} {{_('руб.')}}</span>
                    <span>{{_('Тип:')}} {{item_list['time'].work_type}}</span>
                    <span>{{_('Почта:')}} {{item_list['time'].mail_of_client}}</span>
                    <span>{{_('Тел.:')}} {{item_list['time'].phone_of_client}}</span>
                    <span>{{_('Контакты:')}} {{item_list['time'].adress_of_client}}</span>
                    <span>{{_('Примечание:')}} {{item_list['time'].note}}</span>
                    <form action="{{url_for('master_schedule.show_schedule_reserve')}}" method="post">
                        {{item_list['form_edit'].hidden_tag()}}
                        {{item_list['form_edit'].id_time}}
                        {{item_list['form_edit'].id_client}}
                        {{item_list['form_edit'].id_date}}
                        <ul class="schedule-container-days-content-buttons">
                            <li>
                            <!--  <div id="to_change_{{item_list['form_edit'].id_time.data}}" class="js-schedule-direct">-->
                                {{item_list['form_edit'].change_button}}
                                <!--</div>-->
                            </li>
                            {%if item_list['empty'] == 'free' or item_list['empty'] == 'some_free'%}
                            <li>
                                <div id="to_reserve_{{item_list['form_edit'].id_time.data}}" class="js-schedule-direct">
                                    {{item_list['form_edit'].reserve_button}}
                                </div>
                            </li>
                            {%else%}
                            <li>
                                <div id="to_free_{{item_list['form_edit'].id_time.data}}" class="js-schedule-direct">
                                    {{item_list['form_edit'].delete_button}}
                                </div>
                            </li>
                            {%endif%}
                        </ul>
                    </form>
                    {% endif %}
                </li>
                {%endfor%}
            </ul>
        </li>
        {% endfor %}
        {% endif %}
    </ul>
</div>
{% endblock %}

