<p>Здравствуйте,</p>
<p />
<p> Вы успешно записаны на прием к мастеру ногтевого сервиса Анне.(Nail-Master-Krd)</p>
<p />
<p>Вам зарезервированно время: "{{begin_time_of_day}}".</p>
<p />
<p>Пожалуйта, не опаздывайте, так как график очень плотный.</p>
<p/>
<p>Если у Вас поменяются планы и Вы не сможете прийти к назначенному времени, просьба связаться с мастером по телефону, указанному в данном письме.</p>
<p />
<p>___________________________________________________________</p>
<p>Телефон для связи с мастером: +7 (928) 433-71-81 (WhatsApp)</p>
<p />
<p>
    Если вы получили данное письмо по ошибке, просто проигнорируйте это сообщение.
</p>
<p>С Уважением,</p>
<p>Команда Nail-Master-Krd, www.nail-master-krd.ru</p>