<p>Здравствуйте, {{ preliminary_rec.name_of_client }} хочет записаться на прием!</p>
<p />
<p>Выбранное время: {{preliminary_rec.time_to_record}}.</p>
<p />
<p>Сообщение от клиента: "{{preliminary_rec.message_of_client}}".</p>
<p />
<p>Телефон для ответа клиенту: {{ preliminary_rec.phone_of_client }} </p>
<p />
<p />
<p>
    Чтобы перейти к меню мастера сайта Nail-Master-Krd, перейдите по ссылке:
    <a href="{{ url_for('master_schedule.show_schedule_master', dic_val = {'time_date_id' : -1, 'client_id' : -1},  _external=True) }} ">
         Ссылка на страницу администратора
    </a>, либо Вы можете самостоятельно посетить сайт для оформления заявки клиента.
</p>
<p />
<p>Обязательно ответьте клиенту в самое ближайшее время. Он ждет Вашего ответа по
    указанному номеру!</p>
<p />
<p>Если вы получили данное письмо по ошибке, просто проигнорируйте это сообщение.</p>

<p />
<p>
    Если вы получили данное письмо по ошибке, просто проигнорируйте это сообщение.
</p>
<p>С Уважением,</p>
<p>Команда NailMasterKrd (HTML)</p>