{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content  %}
    <section class="site-map">
        <p>
            <a href="{{ url_for('welcome.index') }}">{{_('Главная страница')}}</a>
            <span> &#9830;</span>
            <a href="{{ url_for('user.login') }}">{{_('Вход в профиль')}}</a>
            <span> &#9830;</span>
            <a href="{{ url_for('user.reset_password_main') }}">{{_('Выбор способа восстановления')}}</a>
            <span> &#9830;</span>
            <a>{{_('По телефону')}}</a>
        </p>
    </section>

<div class="container-registration">
    <h2 class="visually-hidden">{{_('Восстановление пароля по телефону. Ввод номера.')}}</h2>
    <p>{{ _('Восстановление пароля по телефону') }}</p>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {% for error in form.errors %}
        <span style="color: tomato">{{ error }}</span>
        {% endfor %}
        <ul>
            <li>
                <div class="form-group">
                    {{form.number_phone.label}}
                    {{form.number_phone}}
                    {% for error in form.number_phone.errors %}
                    <span style="color: tomato">{{ error }}</span>
                    {% endfor %}
                </div>
            </li>
            <li>{{form.submit}}</li>
        </ul>
    </form>
</div>
{% endblock %}


