{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content  %}
<section class="site-map">
    <p>
        <a href="{{ url_for('welcome.index') }}">{{_('Главная страница')}}</a>
        <span> &#9830;</span>
        <a href="{{ url_for('user.login') }}">{{_('Вход в профиль')}}</a>
        <span> &#9830;</span>
        <a>{{_('Выбор способа восстановления')}}</a>
    </p>
</section>

<div class="container-registration">
    <h2 class="visually-hidden">{{_('Выбор способа восстановления пароля')}}</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <ul>
            <li>
                {{form.submit_reset_by_email}}
            </li>
            <li>
                {{form.submit_reset_by_phone}}
            </li>
        </ul>
    </form>
</div>

    {% endblock %}

