{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content  %}
    <section class="site-map">
        <p>
            <a href="{{ url_for('welcome.index') }}">{{_('Главная страница')}}</a>
            <span> &#9830;</span>
            <a href="{{ url_for('user.login') }}">{{_('Вход в профиль')}}</a>
            <span> &#9830;</span>
            <a href="{{ url_for('user.reset_password_main') }}">{{_('Выбор способа восстановления')}}</a>
            <span> &#9830;</span>
            <a>{{_('Создание нового пароля')}}</a>
        </p>
    </section>

<div class="container-registration">
<h2 class="visually-hidden">{{_('Восстановление пароля по электронной почте. Создание нового пароля.')}}</h2>
<p>{{ _('Создание нового пароля') }}</p>
<form action="" method="post">
    {{ form.hidden_tag() }}
    {% for error in form.errors %}
    <span style="color: tomato">{{ error }}</span>
    {% endfor %}
    <ul>
        <li>
            <div class="form-group">
                {{form.password.label}}
                {{form.password}}
                {% for error in form.password.errors %}
                <span style="color: tomato">{{ error }}</span>
                {% endfor %}
            </div>
        </li>
        <li>
            <div class="form-group">
                {{form.password2.label}}
                {{form.password2}}
                {% for error in form.password2.errors %}
                <span style="color: tomato">{{ error }}</span>
                {% endfor %}
            </div>
        </li>
        <li>{{form.submit}}</li>
    </ul>
</form>
</div>
{% endblock %}

