{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content  %}
<h2>{{ _('Авторизация') }}</h2>

<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>
<br>
<p>
    {{ _('Забыли пароль?') }}
    <a href="{{ url_for('user.reset_password_request') }}"> {{ _('Восстановить пароль') }}</a>
</p>
<p>
    {{ _('Нет регистрации?') }}
    <a href="{{ url_for('user.register_request') }}">{{ _('Зарегистрируйтесь!') }}</a>
</p>
{% endblock %}

<!--
<form action="" method="post" novalidate>
    { form.hidden_tag() }}
    <p>
        { form.username.label }}<br>
        { form.username(size=32) }}
        {% for error in form.username.errors %}
        <span style="color: red;">[{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        { form.password.label }}<br>
        { form.password(size=32) }}
        {% for error in form.password.errors %}
        <span style="color: red;">[{ error }}]</span>
        {% endfor %}
    </p>
    <p>{ form.remember_me() }} { form.remember_me.label }}</p>
    <p>{ form.submit() }}</p>
    <p>
        Забыли пароль?
        <a href="{ url_for('reset_password_request') }}">Восстановить пароль</a>
    </p>
    <p>Нет регистрации? <a href="{ url_for('register') }}">Зарегистрируйтесь!</a></p>
</form>
    -->
