{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <section class="site-map">
        <p>
            <a href="{{ url_for('welcome.index') }}">{{_('Главная страница')}}</a>
            <span>&#9830;</span>
            <a href="{{ url_for('admin_my.admin_index') }}">{{_('Администрация')}}</a>
            <span>&#9830;</span>
            <a href="{{ url_for('admin_my.find_users', dic_val = {'time_date_id' : dic_val['time_date_id'] , 'client_id' : -1}) }}">{{_('Список пользователей')}}</a>
            <span>&#9830;</span>
            <a>{{_('Редактор соцсети пользователя')}}</a>
        </p>
    </section>
    <div class="edit-phone-container">
        {% if form %}
        <form action="" method="post">
            {{form.hidden_tag()}}
            {{form.id_social_field}}
            {% for error in form.id_social_field.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {{form.user_id_field}}
            {% for error in form.user_id_field.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <ul>
                <li>
                    {{form.adress_social.label}}
                    {{form.adress_social}}
                    {% for error in form.adress_social.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </li>
                <li>
                    {{form.to_black_list.label}}
                    {{form.to_black_list}}
                    {% for error in form.to_black_list.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}

                </li>
                <li>
                    {{form.to_save_submit}}
                    <a href="{{url_for('admin_my.find_users', dic_val ={'time_date_id' : dic_val['time_date_id'] , 'client_id' : -1})}}">{{form.to_cancel_button}}</a>
                    <a href="{{url_for('admin_my.delete_socials', id_socials=form.id_social_field.data, dic_val=dic_val)}}">{{form.to_delete_button}}</a>
                </li>
                <li>
                    {% for error in form.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </li>
            </ul>
        </form>
        {% endif %}
    </div>
{% endblock %}

