{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="edit-user-container">
        {% if find_form %}
        <form action="" method="post">
            {{find_form.hidden_tag()}}
            <ul>
                <li>
                    {{find_form.find_field.label}}
                    {{find_form.find_field}}
                </li>
                <li>
                    {{find_form.to_find_button}}
                </li>
                <li>
                    {{find_form.to_create_button}}
                </li>
            </ul>
            
        </form>
            {%endif%}
            {% if list_edit_users_form %}
            {% for form, phone_list in list_edit_users_form %}
        <form action="" method="post">
            {{form.hidden_tag()}}
            <ul>
                <li>
                    <!-- {{form.id_user.label}}: ""-->
                    {{form.id_user.data}}
                </li>
                <li>
                    {{form.username_field.label}}:
                    "{{form.username_field.data}}"
                </li>
                <li>
                    {{form.about_me_field.label}}:
                    "{{form.about_me_field.data}}"
                </li>
                <li>
                    {{form.email_field.label}}:
                    "{{form.email_field.data}}"
                </li>
                <li>
                    {{form.email_confirmed_field.label}}:
                    "{{form.email_confirmed_field.data}}"
                </li>
                <li>
                    {{form.registration_date_field.label}}:
                    "{{form.registration_date_field.data.strftime('%d/%m/%Y %H:%M')}}"
                </li>
                <li>
                    {{form.trying_to_enter_new_phone_field.label}}:
                    "{{form.trying_to_enter_new_phone_field.data}}"
                </li>
                <li>
                    {{form.role_field.label}}:
                    "{{form.role_field.data}}"
                </li>
                <li>
                    {{form.last_seen_field.label}}:
                    "{{form.last_seen_field.data.strftime('%d/%m/%Y %H:%M')}}"
                </li>
                <li>
                    {{form.type_connection_field.label}}:
                    "{{form.type_connection_field.data}}"
                </li>
                <li>
                    {%if time_date_id == -1%}
                    {{form.to_edit_button}}
                    {%else %}
                    {{form.to_schedule_button}}
                    {%endif%}
                </li>
                <li>
                    {%for phone, phone_form in phone_list.items()%}
                    {{ phone_form.hidden_tag() }}
                    <ul>
                        <!-- <li>
                            {{phone_form.id_phone.label}}
                            {{phone_form.id_phone.data}};
                            </li>-->
                        <li>
                            {{phone_form.number_phone_field.label}}:
                            "{{phone_form.number_phone_field.data}}";
                        </li>
                        <li>
                            {{phone_form.phone_confirmed_field.label}}:
                            "{{phone_form.phone_confirmed_field.data}}";
                        </li>
                        <!--<li>
         {{phone_form.date_to_expire_field.label}}:
        "{{phone_form.date_to_expire_field.data.strftime('%d/%m/%Y %H:%M')}}";
     </li>-->
                        <li>
                            {{phone_form.black_list_field.label}}:
                            "{{phone_form.black_list_field.data}}";
                        </li>
                        <li>{%if time_date_id == -1%}{{phone_form.to_edit_button}}{% endif %}</li>
                    </ul>
                    {%endfor%}
                </li>

            </ul>
        </form>
            <hr />

            <!-- {% for error in form.id_user.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}-->
            {% endfor %}
            {% endif %}
    </div>
{% endblock %}

