{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<section class="site-map">
    <p> <a href="{{ url_for('welcome.index') }}">{{_('Главная страница')}}</a>
        <span>&#9830;</span>
        <a href="{{ url_for('admin_my.admin_index') }}">{{_('Администрация')}}</a>
        <span>&#9830;</span>
        <a href="{{ url_for('admin_my.find_users', dic_val = {'time_date_id' : dic_val['time_date_id'] , 'client_id' : -1}) }}">{{_('Список пользователей')}}</a>
        <span>&#9830;</span>
        <a>{{_('Редактор пользователя')}}</a>
    </p>
</section>

<div class="edit-user-container">
    {% if edit_users_form %}
    {% for error in edit_users_form.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
        <form action="" method="post">
            {{edit_users_form.hidden_tag()}}
            <ul>
                <li>
                    {{edit_users_form.id_user.label}}
                    <span class="visually-hidden">{{edit_users_form.id_user}}</span>
                    {{edit_users_form.id_user.data}}
                </li>
                <li>
                    {{edit_users_form.username_field.label}}
                    {{edit_users_form.username_field}}
                    {% for error in edit_users_form.username_field.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </li>
                <li>
                    {{edit_users_form.about_me_field.label}}
                    {{edit_users_form.about_me_field}}
                </li>
                <li>
                    {{edit_users_form.email_field.label}}
                    {{edit_users_form.email_field}}
                    {% for error in edit_users_form.email_field.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </li>
                <li>
                    {{edit_users_form.email_confirmed_field.label}}
                    {{edit_users_form.email_confirmed_field}}
                </li>
                <li>
                    {{edit_users_form.registration_date_field.label}}
                    {%if edit_users_form.registration_date_field.data %}
                    <div style="pointer-events: none">{{edit_users_form.registration_date_field}}</div>
                    {%endif%}
                </li>
                <li>
                    {{edit_users_form.trying_to_enter_new_phone_field.label}}
                    {{edit_users_form.trying_to_enter_new_phone_field}}
                </li>
                <li>
                    {{edit_users_form.role_field.label}}
                    {{edit_users_form.role_field}}
                </li>
                <li>
                    {{edit_users_form.last_seen_field.label}}
                    {% if edit_users_form.last_seen_field.data %}
                    <div style="pointer-events: none">{{edit_users_form.last_seen_field}}</div>
                    {%endif%}
                </li>
                <li>
                    {{edit_users_form.type_connection_field.label}}
                    {{edit_users_form.type_connection_field}}
                    {% for error in edit_users_form.type_connection_field.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </li>
                <li>
                    {{_('Телефоны:')}}
                    <div class="container phone-form-container">
                        {%if phone_forms %}
                        <ul>
                            {%for p in phone_forms%}
                            <li>
                                <form action="" method="post">
                                    {{p.hidden_tag()}}
                                    {{p.id_phone_field}}
                                    {{p.number_phone.data}}
                                    {{_('Ч/C:')}}
                                    {{p.to_black_list.data}}
                                    <a href="{{url_for('admin_my.edit_phone', dic_val=dic_val, id_phone = p.id_phone_field.data)}}">{{p.to_save_button}}</a>
                                    <!--{{p.to_delete_button}}-->
                                </form>
                            </li>
                            {%endfor%}
                        </ul>
                        {%else%}
                        Нет
                        {%endif%}
                    </div>
                </li>
                <li>
                    {{_('Соц.сети:')}}
                    <div class="container phone-form-container">
                        {%if social_forms %}
                        <ul>
                            {%for s in social_forms%}
                            <li>
                                <form action="" method="post">
                                    {{s.hidden_tag()}}
                                    {{s.id_social_field}}
                                    {{s.adress_social.data}}
                                    {{_('Ч/C:')}}
                                    {{s.to_black_list.data}}
                                    <a href="{{url_for('admin_my.edit_socials', dic_val=dic_val, id_socials = s.id_social_field.data)}}">{{s.to_save_button}}</a>
                                </form>
                            </li>
                            {%endfor%}
                        </ul>
                        {%else%}
                        Нет
                        {%endif%}

                        

                    </div>

                </li>
                <hr />
                <li>
                    {%if edit_users_form.id_user.data %}
                    <a href="{{url_for('admin_my.edit_phone', dic_val=dic_val, id_phone = -1)}}">{{edit_users_form.to_edit_phone_button}}</a>
                    <a href="{{url_for('admin_my.edit_socials', dic_val=dic_val, id_socials = -1)}}">{{edit_users_form.to_edit_internet_account_button}}</a>
                  
                    <hr />
                    {%endif%}
                    <a>{{edit_users_form.to_save_button}}</a>
                    {%if edit_users_form.id_user.data %}
                    <a href="{{url_for('admin_my.delete_user_form', dic_val = {'time_date_id' : dic_val['time_date_id'] , 'client_id' : edit_users_form.id_user.data})}}">{{edit_users_form.to_delete_button}}</a>
                    <a href="{{url_for('master_schedule.show_schedule_master', dic_val = {'time_date_id' : -1 , 'client_id' : edit_users_form.id_user.data})}}">{{edit_users_form.to_schedule_button}}</a>
                    {%endif%}
                </li>

            </ul>
        </form>
        <hr />
        {% endif %}
    </div>
{% endblock %}

