{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<section class="site-map">
    <p> <a href="{{ url_for('welcome.index') }}">{{_('Главная страница')}}</a>
        <span> &#9830;</span>
        <a href="{{ url_for('admin_my.admin_index') }}">{{_('Администрация')}}</a>
        <span> &#9830;</span>
        <a href="{{ url_for('admin_my.show_master_news') }}">{{_('Список новостей мастера')}}</a>
        <span> &#9830;</span>
        <a>{{_('Редактор новости мастера')}}</a>
    </p>
</section>

<div class="edit-user-container">
    {% if  news_form %}
    {% for error in news_form.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
        <form action="" method="post">
            {{news_form.hidden_tag()}}
            <ul>
                <li>
                    {{news_form.id_field.label}}
                    <span class="visually-hidden">{{news_form.id_field}}</span>
                    {{news_form.id_field.data}}
                </li>
                <li>
                    {% for error in news_form.id_field.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </li>
                <li>
                    {{news_form.title_field.label}}
                    {{news_form.title_field}}
                </li>
                <li>
                    {% for error in news_form.title_field.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </li>

                
                <li>
                    {{news_form.text_field.label}}
                    {{news_form.text_field}}
                </li>
                <li>
                    {% for error in news_form.text_field.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </li>
                <li>
                    {{news_form.published_field.label}}
                    {{news_form.published_field}}
                </li>
                <li>
                {% for error in news_form.text_field.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                </li>
                <li>
                    {{news_form.to_save_submit}} 
                    {{news_form.to_delete_submit}} 
                    <a class="button" href="{{url_for('admin_my.show_master_news')}}">{{_('Отмена')}}</a>
                </li>
            </ul>
        </form>
        <hr />
        {% endif %}
    </div>
{% endblock %}

