{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<section class="site-map">
    <p>
        <a href="{{ url_for('welcome.index') }}">{{_('Главная страница')}}</a>
        <span> &#9830;</span>
        <a href="{{ url_for('admin_my.admin_index') }}">{{_('Администрация')}}</a>
        <span> &#9830;</span>
        <a>{{_('Список новостей мастера')}}</a>
    </p>
</section>
<div class="find-user-container">
    {% include "timeform.html"%}
    <li><a class="button" href="{{url_for('admin_my.edit_master_news', dic_master_news = {'news_id' : '-1'})}}">{{_('Добавить')}}</a></li>
    {%if list_news %}
    <ul>
        {% for item in list_news %}
        <li>
            <ul>
                <li>{{_('Ид новости')}}</li>
                <li>{{item.id}}</li>
                <li>{{_('Заглавие: ')}}</li>
                <li>{{item.title}}</li>
                <li>{{_('Текст: ')}}</li>
                <li>{{item.text}}</li>
                <li>{{_('Дата публикации: ')}}</li>
                <li>{{item.published.strftime('%d-%m-%Y %H:%M')}}</li>
                <li><a class="button" href="{{url_for('admin_my.edit_master_news', dic_master_news = {'news_id' : item.id})}}">{{_('Редактировать')}}</a></li>
            </ul>

        </li>


        <hr>
        {%endfor%}
    </ul>
    {%endif%}

</div>

{% endblock %}


