{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<section class="site-map">
    <p>
        <a href="{{ url_for('welcome.index') }}">{{_('Главная страница')}}</a>
        <span>&#9830;</span>
        <a href="{{ url_for('admin_my.admin_index') }}">{{_('Администрация')}}</a>
        <span>&#9830;</span>
        <a>{{_('Список новостей для редактора')}}</a>
    </p>
</section>
<div class="find-user-container">
    {% include "timeform.html"%}

    {%if list_news_and_comments_forms%}
    <ul>
        {% for tuple in list_news_and_comments_forms %}
        <li>
            <form action="{{url_for('admin_my.save_news')}}" method="post">
                {{tuple['news_form'].hidden_tag()}}
                <ul>
                    <li>
                        <span class="visually-hidden">{{tuple['news_form'].id_news_field}}</span>
                        {{tuple['news_form'].id_news_field.label}}: {{tuple['news_form'].id_news_field.data}}
                    </li>
                    <li>
                        {{tuple['news_form'].title_field.label}}: {{tuple['news_form'].title_field}}
                    </li>
                    <li>
                        <span class="visually-hidden">{{tuple['news_form'].published_field}}</span>
                        {{tuple['news_form'].published_field.label}}: {{tuple['news_form'].published_field.data}}
                    </li>
                    <li>
                        <span class="visually-hidden">{{tuple['news_form'].url_field}}</span>
                        <img class="edit-container-work-img" src="{{tuple['news_form'].main_picture_url.data}}" />
                    </li>
                    <li>
                        <span class="visually-hidden">{{tuple['news_form'].source_field}}</span>
                        {{_('Источник')}}: {{tuple['news_form'].source_field.data}}
                    </li>
                    <li>
                        {{_('Для показа')}}: {{tuple['news_form'].show_list_field}}
                    </li>
                    <li>{{tuple['news_form'].to_save_submit}}</li>
                </ul>
            </form>
            {%if tuple['list_comment_form']%}
            {%for f in tuple['list_comment_form']%}
            <ul>
                <li>
                    <form action="{{ url_for('admin_my.edit_comment_to_news') }}" method="post">
                        {{f.hidden_tag()}}
                        <ul>
                            <li>
                                <div class="visually-hidden">{{f.id_my_work_field}}</div>
                                {{f.id_my_work_field.label}}: {{f.id_my_work_field.data}}
                            </li>
                            <li>{{f.text_field.label}}: {{f.text_field}}</li>
                            <li>{{f.published_field.label}}: {{f.published_field.data}}</li>
                            <li>{{f.label}}: {{f.show_list_field}}</li>

                            <li>{{f.to_save_submit}}</li>
                            <li>{{f.to_delete_submit}}</li>
                        </ul>
                    </form>
                </li>
            </ul>
            {%endfor%}
            {%endif%}

        </li>


        <hr>
        {%endfor%}
    </ul>
    {%endif%}

</div>

{% endblock %}



<!--  {%if list_my_works%}
<ul>
    {% for w in list_my_works%}
    <li>
        <div class="visually-hidden"><input type="text" id="wIdField">{{w.id}}</div>
        <section>
            {{w.published}}
            <div class="edit-container-work">
                <ul>
                    <li><div><img class="edit-container-work-img" src="{{w.url}}" /></div></li>
                    <li>{{_('Заголовок')}}:</li>
                    <li><textarea class="comment-field">{{w.title}}</textarea></li>
                    <li>{{_('Код')}}: {{w.code}}</li>
                    <li>{{_('Автор')}}: {{w.owner}}</li>
                    <li>{{_('Ресурс')}}: {{w.source}}</li>
                    <li>{{_('Лайки')}}: {{w.likes}}</li>
                    <li>{{_('Для показа')}}: {%if w.show==True%}Да{% else %}Нет{%endif%}</li>
                    <li><a class="button" href="{{url_for('admin_my.edit_my_work', dic_date = dic_date, id = w.id)}}">{{_('Ред. фото')}} </a></li>
                </ul>
            </div>

        </section>
    </li>
    <li>{{_('Комментарии:')}}</li>
    {%if list_comment%}
    <li>
        <ul>
            {%for c in list_comment%}
            {%if c.media == w.code or c.my_work_id == w.id %}
            <li>
                <ul>
                    <li>
                        {{_('Автор')}}: {{c.owner}}
                    </li>
                    <li>
                        {{_('Текст')}}: {{c.text}}
                    </li>
                    <li>
                        <a class="button" href="{{url_for('admin_my.edit_comment_to_my_work', id = c.id)}}">{{_('Ред. коммент')}} </a>
                    </li>
                </ul>
            </li>
            {%endif%}
            {%endfor%}
        </ul>
    </li>
    {%endif%}

    <li><hr></li>
    {%endfor%}
</ul>
{%endif%}-->
