{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<section class="site-map">
    <p>
        <a href="{{ url_for('welcome.index') }}">{{_('Главная страница')}}</a>
        <span> &#9830;</span>
        <a>{{_('Наши цены')}}</a>
    </p>
</section>
<div class="price-container">
    <h2 class="visually-hidden">Наши цены</h2>
    {%if list_work_types%}
    {%set i=0%}
    <ul>
        {% for item in list_work_types %}
        <li class="price-container-items-name">
            {{item.name}}
        </li>
        <li><hr /></li>
        <li>
            {%if item.price_lists%}
            {%for i in item.price_lists%}
            <ul class="price-container-items">
                <li>{{i.title}}</li>
                <li>{{i.text}}</li>
                <li class="price-container-items-last">{{i.price}} {{_('р.')}}</li>
            </ul>
            
            {%endfor%}
            {%endif%}
            <hr />
        </li>
        {%endfor%}
    </ul>

    {%endif%}

</div>

{% endblock %}


