{% extends 'bootstrap/base.html' %}

{% block title %}
{% if title %}
{{ title }} - {{ _('Страничка мастера ногтевого сервиса') }}'
{% else %}
{{ _('Добро пожаловать на страницу мастера маникюра и педикюра') }}
{% endif %}
{% endblock %}
{% block navbar %}
{% include 'navbar.html'%}
{% endblock %}
{% block content %}
<div class="container">
    {% include 'messages.html'%}
    {# содержимое приложения которое должно быть предоставлено в блоке app_content #}
    {% block app_content %}
    {% endblock %}
</div>
        {% endblock %}

        {% block scripts %}
            {{ super() }}
            {{ moment.include_moment() }}
            {{ moment.lang(g.locale) }}
            
            <script>
                function translate(sourceElem, destElem, sourceLang, destLang) {
                    $(destElem).html('<img src="{{ url_for('static', filename='loading.gif') }}">');
                    $.post('/translate', {
                        text: $(sourceElem).text(),
                        source_language: sourceLang,
                        dest_language: destLang
                    }).done(function(response) {
                        $(destElem).text(response['text'])
                    }).fail(function() {
                        $(destElem).text("{{ _('Error: Could not contact server.') }}");
                    });
                }
            </script>
            
            <!--     {{ moment.lang('ru') }}  -->
        {% endblock %}
